.home-container {
    padding: 20px;
    text-align: center;
    background-color: #b3f0c6; 
  }
  
  .home-services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .home-service {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    width: 150px;
  }
  
  .home-service img {
    width: 50px;
    margin-bottom: 10px;
  }
  